.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    padding: 1% 0;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-nav .dropdown-menu li a, .navbar-inverse .navbar-nav .dropdown-menu li a:focus, .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background-color: rgb(25, 25, 25);
    color: #FFF;
}

.navbar-inverse .navbar-nav .dropdown-menu li a {
    color: #D5D5D5;
}

.container, #aboutSection {
    margin: 4% auto;
}

#aboutSection {
    font-size: 1.2em;
}

#icon, #pic {
    width: 100%;
    margin: 4% auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }

    svg {
        max-width: 25%;
    }

    h2 {
        font-size: 1.5em;
    }
}

div#div_main_content {
    background-color: indianred;
    margin: auto;
    text-align: center;
    margin: 3em 3em;
    padding: 3em 3em;
    box-shadow: grey 3px 4px 5px;
}

div#div_main_content table {
    background-color: indianred;
    margin: auto;
    #text-align: center;
    margin: 5em;
    padding: 5em;
}

h1 {
    text-align: center;
}

#btn_submit {

    display: inline;
    margin: auto;
    text-align: center;

}

#register_a {
    color: indianred;
}

#register_p {
    text-align: center;
}

footer {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
    float: bottom;
}

body {
    overflow: auto;
}